.card {
  text-align: center;
  margin: 1rem;
  background-color: antiquewhite;
}

.btn {
  width: 6rem;
  align-self: center;
  margin-bottom: 0.5rem;
}

.teamName {
  font-weight: bold;
  background-color: #e8a348;
}

.yearFounded {
  font-style: italic;
}
